body {
  div {
    color: #CCC;
    width: 200px;
    height: $width;
  }
  p{
    color: #BBB;
  }
}
.box1 {

  color: red;
  > .box2 {
    color: indigo;
  }
  &:hover{
    color: greenyellow;
  }
}
.button {
  &-ok {
    background-color: greenyellow;
  }
  &-cancel {
    background-color: grey;
  }
}
.p1{
  width: 100px;
  height: 100px;
}
// 扩展
// :extend() 对当前选择器扩展指定选择器的样式（选择器分组）
.p2:extend(.p1){
  color: red;
}

.p3{
  // 相当于复制p1的样式
  // mixin
  .p1()
}

.box3{
  width: 100px;
  height: 100px;
}

.box4{
  color: red;
}
// 扩展多个
.box5:extend(.box3,.box4){
  margin: 5px;
}
// mixin
.box5{
  .box3;
  .box4;
}
// 默认值
.test(@w:100px){
  width: @w;
}

div{
  .test(200px);
}

p{
  .test();
}

@mybutton_bg_color: #bfa;
.mybutton{
  background-color: @mybutton_bg_color;
  &:hover{
    // darken 加深颜色
    background-color: darken(@mybutton_bg_color, 20%);
  }
}
// 计算运算符
.box1 {
  width: 100p + 100px;
}