<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock  %}</title>
    {% block style %}

    {% endblock  %}   
    <script src="/js/utilty.js"></script>
    <script src="/js/axios.min.js"></script>
    <script src="/js/system.js"></script>
    
	<script>
    var config={
        "baseURL":"/js"
    };
    SystemJS.config(config);    
  

    </script>
    {% block script %}

    {% endblock  %}

</head>
<body>
    {% block content %}{% endblock  %}
</body>
</html>