:root{

    --mainColor: yellowgreen;

}
@custom-selector :--heading h1, h2, h3, h4, h5, h6;
.c-main{
    & .test {
        color: var(--mainColor);
    
    }
    & :--heading {
        margin: 0;
      }
    & .apple-tab{
        font-size : 1em;
        color : var(--mainColor);
    }
    & .apple-tab--avictve{
        font-size : 1em;
        color : var(--mainColor);
    }
    & .apple-tab__card{
        font-size : 1em;
        color : var(--mainColor);
        box-shadow: 0 0 3px 5px rgba(222, 222, 222, .3);
    }
      
}